.ahn-info {
    color: #fff;
    height: 100%;
    background: rgba(0,0,0,.6);
    padding: 10px;
    padding-bottom: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: 2;
    max-height: 158px;
}
.now-thumbnail-active .ahn-info {
  opacity: 1;
}
.ahn-info p.plot {
  margin: 0;
}
span.ahn-rating {
    display: block;
    font-size: 13px;
}
span.ahn-staring{
	font-size: 13px;
}
span.ahn-rating span , span.ahn-staring span{
    color: yellow;
}
